.product-container {
  display: flex;
  width: min(700px, 90vw);
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px black;
  cursor: pointer;
}

.product-container h4 {
  margin: 0;
}

.product-container > div {
  display: flex;
  margin: 10px 0;
}

.product-container > div p {
  margin: 0 10px;
}
