.product-container {
  display: flex;
  width: 700px;
  flex-direction: column;
}

.product-container h4 {
  margin: 0;
}

.product-container > div {
  display: flex;
  margin: 10px 0;
}

.product-container > div p {
  margin: 0 10px;
}
