.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;
  padding: 20px 0;
}

.App > div {
  padding: 20px;
}

.search-history ul {
  padding: 5px 15px;
}

.search-container {
  width: min(500px, 80vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container h1 {
  margin: 5px 0;
}

.search-box {
  width: 100%;
  display: flex;
  position: relative;
}

label {
  margin: 0 5px;
}

input {
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

input:focus,
input:hover {
  outline: none;
}

.list {
  position: absolute;
  width: 100%;
  top: 40px;
  box-shadow: 0 0 10px 0px black;
  border-radius: 5px;
  background-color: white;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid black;
}
mark {
  background-color: darkgray;
  font-weight: bold;
}
